.container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 15px;
  
}

.header {
  
  color: blue;
  font-size: 23px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-inline-start: 50px;
  
}

.search {
  margin:  20px 0;
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 30px 10px 30px;
  flex: 1;
 
}

.nav-links span{

  color: blue;
  margin-right: 20px;
  cursor: pointer;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  gap: 10px;
  

}



